<app-header></app-header>

<div class="container accountBox">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1 class="whiteText">Welcome, User!</h1> <!-- Replace 'User' with user's name -->
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="row">
                <div class="col">
                    <h2 class="d-flex justify-content-center">
                        <u class="whiteText">Orders:</u> <!-- populate previous orders underneath Orders header-->
                    </h2>

                    <div class="row whiteBackground roundCorners d-flex align-items-center my-2">
                        <div class="col d-flex justify-content-center">
                            <p class="mb-0">Megaton Hammer</p>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <p class="mb-0"><u>Order Number:</u> 8675309</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col">
            <div class="accountDivider"></div>
        </div>
        <div class="col">
            <form>
                <div class="form-group pb-5">
                    <label class="whiteText" for="accountName">Name:</label>
                    <input type="name" class="form-control" id="accountName">
                </div>
                <div class="form-group py-5">
                    <label class="whiteText" for="accountEmail">Email:</label>
                    <input type="email" class="form-control" id="accountEmail">
                </div>
                <div class="form-group py-5">
                    <label class="whiteText" for="accountCountry">Country:</label>
                    <input type="country" class="form-control" id="accountCountry">
                </div>
            </form>
        </div>
    </div>
</div>