<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center my-5">
            <h1 class="whiteText">
                Weapons
            </h1>
        </div>
    </div>

    <!-- Card Row 1 -->

    <div class="row my-3">
        <div class="col">
            <div class="card">
                <img src="../../../assets/MasterSwordImage.jpeg" class="card-img-top" alt="Master Sword">
                <div class="card-body">
                    <h5 class="card-title">The Master Sword</h5>
                    <p class="card-text">This ancient blade has been thwarting evil for centuries. It will shoot lasers
                        if the user has full health.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="../../../assets/MegatonHammer.png" class="card-img-top" alt="Master Sword">
                <div class="card-body">
                    <h5 class="card-title">Megaton Hammer</h5>
                    <p class="card-text">This heavy smoosher was used on 2 separate occasions to slay the dragon
                        Volvagia. Creates shockwaves.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="../../../assets/BiggoronSword.jpg" class="card-img-top" alt="Master Sword">
                <div class="card-body">
                    <h5 class="card-title">Biggoron Sword</h5>
                    <p class="card-text">Forged by a master Goron smith, This massive blade will carve through your
                        enemies and never dull or break.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="../../../assets/HeroBow.jpg" class="card-img-top" alt="Master Sword">
                <div class="card-body">
                    <h5 class="card-title">Hero's Bow</h5>
                    <p class="card-text">This bow has seen the hands of many an expert marksman. Can be used with
                        mundane and magical arrows alike.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Card Row 2 -->

    <div class="row my-3">
        <div class="col">
            <div class="card">
                <img src="../../../assets/KokiriSword.jpg" class="card-img-top" alt="Master Sword">
                <div class="card-body">
                    <h5 class="card-title">Kokiri Sword</h5>
                    <p class="card-text">The weapon of choice of the diminutive Kokiri, this blade was once wielded by a
                        great hero.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="../../../assets/FireArrows.png" class="card-img-top" alt="Master Sword">
                <div class="card-body">
                    <h5 class="card-title">Fire Arrows</h5>
                    <p class="card-text">Enchanted with powerful magic, these arrows will incinerate anyone foolish
                        enough to stand against you.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="../../../assets/IceArrows.png" class="card-img-top" alt="Master Sword">
                <div class="card-body">
                    <h5 class="card-title">Ice Arrows</h5>
                    <p class="card-text">Enchanted with powerful magic, these arrows can freeze your enemies in place
                        with chilling ease.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="../../../assets/LightArrows.png" class="card-img-top" alt="Master Sword">
                <div class="card-body">
                    <h5 class="card-title">Light Arrows</h5>
                    <p class="card-text">Enchanted with powerful magic, these arrows easily pierce the defenses of all
                        who walk the path of evil.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>