<app-header></app-header>

<div class="container accountBox py-5 my-5 whiteText">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1>
                Order Placed!
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <p>A Confirmation has been sent to your email.</p>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <button type="button" class="btn btn-primary btn-lg btn-block redBack" routerLink="/home">Continue Shopping</button>
        </div>
    </div>
</div>