.loginHead, label{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.loginBox{
    background-color: rgba(157, 69, 2, 0.67);
    border-radius: 25px;
    padding-top: 3rem;
    padding-bottom: 1rem;
}


    

