<div class="container-fluid">
    <div class="row py-5">
        <div class="col d-flex justify-content-center my-5 loginHead">
            <h1>Welcome to the Castle Town Bazaar!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col pt-5 pb-1">
            <div class="container loginBox">
                <div class="row ">
                    <!-- consider adding col-3s to ends for spacing -->
                    <div class="col">
                        <form>
                            <div class="form-group ">
                                <label for="exampleInputEmail1">Email Address:</label>
                                <input #ea type="email" class="form-control" id="exampleInputEmail1"
                                    aria-label="Email">
                            </div>
                            <div class="form-group">
                                <label for="passwordInput">Password:</label>
                                <input #pw type="password" class="form-control" id="passwordInput"
                                    aria-label="Password">
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-end">
                                    <button (click)="logIn(ea.value, pw.value)" routerLink="/home" type="button"
                                        class="btn btn-primary">Log In</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-end">
                <p class="whiteText">New to the bazaar? <button routerLink="/create-account"
                        class="btn btn-primary">Create an Account!</button></p>
            </div>
        </div>
    </div>
</div>