<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center my-5">
            <h1 class="whiteText">
                Tools
            </h1>
        </div>
    </div>

    <!-- Card Row 1 -->

    <div class="row my-3">
        <div class="col">
            <div class="card">
                <img src="../../../assets/MasterSwordImage.jpeg" class="card-img-top" alt="Master Sword">
                <div class="card-body">
                    <h5 class="card-title">The Lens of Truth</h5>
                    <p class="card-text">This ancient blade has been thwarting evil for centuries. It will shoot lasers
                        if the user has full health.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="../../../assets/MasterSwordImage.jpeg" class="card-img-top" alt="Master Sword">
                <div class="card-body">
                    <h5 class="card-title">The Master Sword</h5>
                    <p class="card-text">This ancient blade has been thwarting evil for centuries. It will shoot lasers
                        if the user has full health.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="../../../assets/MasterSwordImage.jpeg" class="card-img-top" alt="Master Sword">
                <div class="card-body">
                    <h5 class="card-title">The Master Sword</h5>
                    <p class="card-text">This ancient blade has been thwarting evil for centuries. It will shoot lasers
                        if the user has full health.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="../../../assets/MasterSwordImage.jpeg" class="card-img-top" alt="Master Sword">
                <div class="card-body">
                    <h5 class="card-title">The Master Sword</h5>
                    <p class="card-text">This ancient blade has been thwarting evil for centuries. It will shoot lasers
                        if the user has full health.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Card Row 2 -->

    <div class="row my-3">
        <div class="col">
            <div class="card">
                <img src="../../../assets/MasterSwordImage.jpeg" class="card-img-top" alt="Master Sword">
                <div class="card-body">
                    <h5 class="card-title">The Master Sword</h5>
                    <p class="card-text">This ancient blade has been thwarting evil for centuries. It will shoot lasers
                        if the user has full health.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="../../../assets/MasterSwordImage.jpeg" class="card-img-top" alt="Master Sword">
                <div class="card-body">
                    <h5 class="card-title">The Master Sword</h5>
                    <p class="card-text">This ancient blade has been thwarting evil for centuries. It will shoot lasers
                        if the user has full health.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="../../../assets/MasterSwordImage.jpeg" class="card-img-top" alt="Master Sword">
                <div class="card-body">
                    <h5 class="card-title">The Master Sword</h5>
                    <p class="card-text">This ancient blade has been thwarting evil for centuries. It will shoot lasers
                        if the user has full health.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="../../../assets/MasterSwordImage.jpeg" class="card-img-top" alt="Master Sword">
                <div class="card-body">
                    <h5 class="card-title">The Master Sword</h5>
                    <p class="card-text">This ancient blade has been thwarting evil for centuries. It will shoot lasers
                        if the user has full health.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>