<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center my-5">
            <h1 class="whiteText">
                Tools
            </h1>
        </div>
    </div>

    <!-- Card Row 1 -->

    <div class="row my-3">
        <div class="col">
            <div class="card">
                <img src="../../../assets/LensofTruthImage.jpeg" class="card-img-top" alt="Lens of Truth">
                <div class="card-body">
                    <h5 class="card-title">The Lens of Truth</h5>
                    <p class="card-text">This magical magnifying glass allows the user to see past illusions and reveals ghosts.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="../../../assets/Hookshot.jpg" class="card-img-top" alt="Hookshot">
                <div class="card-body">
                    <h5 class="card-title">Hookshot</h5>
                    <p class="card-text">This ingenius contraption fires a grappling hook with a powerful mechanism for retracting the chain.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="../../../assets/Bombchu.png" class="card-img-top" alt="Longshot">
                <div class="card-body">
                    <h5 class="card-title">Longshot</h5> <!-- 100 rupees -->
                    <p class="card-text">This hookshot model has been upgraded with a longer chain and stronger winch system.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="../../../assets/DekuNut.png" class="card-img-top" alt="Deku Nut">
                <div class="card-body">
                    <h5 class="card-title">5 Deku Nuts</h5> <!-- 15 rupees -->
                    <p class="card-text">These nuts grow on Deku Babas. When thrown, they create a blinding flash on impact.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Card Row 2 -->

    <div class="row my-3">
        <div class="col">
            <div class="card">
                <img src="../../../assets/Bombchu.png" class="card-img-top" alt="Bombchu">
                <div class="card-body">
                    <h5 class="card-title">Bombchus (x10)</h5>
                    <p class="card-text">These nimble explosives travel along surfaces to reach areas that normal bombs cannot.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="../../../assets/Boomerang.png" class="card-img-top" alt="Boomerang">
                <div class="card-body">
                    <h5 class="card-title">Boomerang</h5>
                    <p class="card-text">Though a child's weapon, this boomerang can stun enemies and retrieve fallen items.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="../../../assets/FairyOcarina.png" class="card-img-top" alt="Fairy Ocarina">
                <div class="card-body">
                    <h5 class="card-title">Fairy Ocarina</h5>
                    <p class="card-text">Crafted by the care-free Kokiri, these ocarinas are rumored to contain magical properties.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="../../../assets/Bottle.jpg" class="card-img-top" alt="Bottle">
                <div class="card-body">
                    <h5 class="card-title">Bottle</h5>
                    <p class="card-text">An adventurer's most loyal companion. Can carry a multitude of items. Fairy not included.</p>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/cart" class="btn btn-primary">Add To Cart</a>
                        </div>
                        <div class="col">
                            <a routerLink="/wish-list" class="btn btn-primary">Add To Wish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>