<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center mt-5">
            <h1 class="whiteText">Cart</h1>
        </div>
    </div>
    <div class="row">

        <div class="col-md-8">
            <div class="row whiteBackground roundCorners my-4" *ngFor='let item of cartList; let i = index'>
                <div class="col-4 d-flex align-items-center justify-content-center">
                    <p class="mb-0">{{item.name}}</p>
                </div>
                <div class="col-3 d-flex align-items-center justify-content-end pr-2">
                    <p class="mb-0">{{item.price}}</p>
                </div>
                <div class="col-1 d-flex align-items-center pl-0">
                    <img src="/assets/Rupee.png" alt="Rupee">
                </div>
                <div class="col-1 d-flex justify-content-end align-items-center pr-0">
                    <span class="badge badge-light buttBorder" (click)='compItemMinus(item, i)'>-</span>
                </div>
                <div class="col-1 d-flex justify-content-center align-items-center p-0">
                    <span class="badge badge-light buttBorder p-2">{{item.qty}}</span>
                </div>
                <div class="col-1 d-flex align-items-center pl-0">
                    <span class="badge badge-light buttBorder" (click)='compItemPlus(item)'>+</span>
                </div>
                <div class="col-1 removeButt py-4 d-flex justify-content-center align-items-center" (click)='compRemoveItem(item, i)'>
                    <b class="whiteText smallFont mb-0">Remove</b>
                </div>
            </div>
        </div>

        <!-- Total Box -->
        <div class="col"></div>
        <div class="col-3 whiteBackground roundCorners totalBox pt-3">
            <div>
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <p class="m-0">Items:</p>
                    </div>
                    <div class="col d-flex align-items-center justify-content-end px-0 mb-1">
                        <p class="mr-3 mb-0">{{cartTotal}} <img src="/assets/Rupee.png" alt="Rupee"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <p class="m-0">Tax:</p>
                    </div>
                    <div class="col d-flex align-items-center justify-content-end px-0">
                        <p class="mr-3 mb-0">{{cartTotal*.0825}} <img src="/assets/Rupee.png" alt="Rupee"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr class="totalDivider">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col d-flex align-items-center">
                        <p class="m-0">Total:</p>
                    </div>
                    <div class="col d-flex align-items-center justify-content-end px-0 mb-1">
                        <p class="mr-3 mb-0">{{cartTotal+cartTotal*.0825}} <img src="/assets/Rupee.png" alt="Rupee"></p>
                    </div>
                </div>
                <div class="row">
                    <div routerLink="/checkout" class="col payButt whiteText d-flex justify-content-center align-items-end py-3">
                        <b>Continue To Payment</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>