.smallFont{
    font-size: 12px;
}

.buttBorder{
    border: solid black;
    border-radius: 6px;
    border-width: 1px;
}

.totalDivider{
    border: 1px solid #707070;
}

.payButt{
    background-color: #225A09;
    border-radius: 0 0 25px 25px;

}

