<div class="card">
    <img src="assets/{{item.img}}" class="card-img-top" alt="{{item.URL}}">
    <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.desc}}</p>
        <p class="card-text d-flex justify-content-center align-items-center">{{item.price}}   <img class="ml-1" src="/assets/Rupee.png" alt="Rupee"></p>
        <div class="row">
            <div class="col">
                <button (click)="displayAddToCart(item)" routerLink="/cart" class="btn btn-primary">Add To Cart</button>
            </div>
            <div class="col d-flex justify-content-end">
                <button (click)="displayAddToWish(item)" routerLink="/wish-list" class="btn btn-primary">Add To Wish</button>
            </div>
        </div>
    </div>
</div>