<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center mt-5">
            <h1>
                <u class="whiteText">
                    Wish List
                </u>
            </h1>
        </div>
    </div>
    <div class="row whiteBackground roundCorners my-4" *ngFor="let item of wishList; let i = index">
        <div class="col-5 d-flex align-items-center">
            <p class="mb-0">{{item.name}}</p>
        </div>
        <div class="col-1 d-flex align-items-center justify-content-end pr-0">
            <p class="mb-0">{{item.price}}</p>
        </div>
        <div class="col-3 d-flex align-items-center">
            <img src="assets/Rupee.png" alt="Rupee">
        </div>
        <div class="col-2 cartButt py-4 d-flex justify-content-center" routerLink="/cart" routerLinkActive="active" (click)="wishAddToCart(item, i)">
            <b class="whiteText mb-0" >Add To Cart</b>
        </div>
        <div class="col-1 removeButt py-4 d-flex justify-content-center" (click)="compRemoveFromWish(i)">
            <b class="whiteText mb-0">Remove</b>
        </div>

    </div>
</div>