<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center mt-5">
            <h1>
                <u class="whiteText">
                    Your Wish List
                </u>
            </h1>
        </div>
    </div>
    <div class="row whiteBackground roundCorners my-4">
        <div class="col-1 px-0">
            <img src="/assets/MasterSwordImage.jpeg" alt="MasterSword" class="mstr-swd img-fluid">
        </div>
        <div class="col-4 d-flex align-items-center">
            <p class="mb-0">The Master Sword</p>
        </div>
        <div class="col-1 d-flex align-items-center">
            <p class="mb-0">1,000,000</p>
        </div>
        <div class="col-3 d-flex align-items-center">
            <img src="/assets/Rupee.png" alt="Rupee">
        </div>
        <div class="col-2 cartButt py-4 d-flex justify-content-center" routerLink="/cart" routerLinkActive="active">
            <b class="whiteText mb-0">Add To Cart</b>
        </div>
        <div class="col-1 removeButt py-4 d-flex justify-content-center">
            <b class="whiteText mb-0">Remove</b>
        </div>

    </div>
</div>